<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-title>splash</ion-title>
    </ion-toolbar> -->
</ion-header>

<ion-content padding class="ion-text-center">
    <img text-center style="
   top: 50%;
    left: 50%;
    width: 100%;
    height: auto;" src="assets/img/icon.jpg" class="slide-image" />
    <ion-item lines="none">
        <ion-label text-wrap>
            {{'LOADING_SERVER_DATA_MSG'| translate}}
        </ion-label>

    </ion-item>
    <ion-item lines="none">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-item>
</ion-content>